@import url('https://fonts.googleapis.com/css2?family=Alan+Sans:wght@300..900&display=swap');

:root {
    --font: "Alan Sans", sans-serif;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #f9fafb;
  font-family: var(--font);
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #eee;
  padding: 8px 12px;
}

.left, .right {
  display: flex;
  gap: 10px;
}

button {
  background: none;
  border: 1px solid #888;
  padding: 6px 10px;
  cursor: pointer;
}
